/*
* #31aa31 - light green
* #ffffff - white
* #f0f0f0 - light grey
* #b8b8b8 - grey
* #707070 - dark grey
*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    top: 0;
    background-color: #31aa31;
    height: 120px;
    width: 100%;
}

.header-contents {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

.header-contents > * {
    display: inline-block;  
}

.header-text span {
    font-size: 40px;
}

.logo-container {
    height: 100%;
    line-height: 120px;
    vertical-align: middle;
}

.logo-container div {
    display: inline-block;
}

.logo-container a {
    text-decoration: none;
    color: black;
}

.header-image {
    height: 120px;
    width: 120px;
    float: left;
}

img {
    width: 80%;
    height: 80%;
    vertical-align: middle;
}

.body-container {
    position: relative;
    width: 70%;
    min-height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -50px;
}

#cardDisplayContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 100px;
}

.display-card {
    transform: scale(.8,.8);
    -ms-transform: scale(.8,.8);
    -webkit-transform: scale(.8,.8);
}

.nav-bar-container {
    float: right;
}

.nav-bar-container ul {
    list-style-type: none;
}

.nav-bar-container li {
    display: inline-block;
    background-color: #b8b8b8;
    margin: 10px;
    height: 60px;
    width: 80px;
    border: 2px solid #b8b8b8;
    border-radius: 6px;
    transition-duration: .4s;
    cursor: pointer;
}

.nav-bar-container li:hover {
    background-color: #f0f0f0;
}

.nav-bar-container li a {
    text-decoration: none;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
    display: block;
    color: black;
    height: 100%;
    width: 100%;
}

.title-text {
    margin-top: 15px;
}

.title-text span {
    font-size: 25px;
    font-weight: bold;
}

footer {
    position: absolute;
    width: 100%;
    /* background-color: #31aa31; */
    height: 50px;
}

#searchSubmit {
    display: none;
}

.text-right {
    text-align: right;
}

.float-left {
    float: left;
}