/*
Color theme:
#E27D60 - reddish/rust
#085DCB - blue
#E8A87C - orange/tan
#C28D9E - purple-ish
#41B3A3 - dark turqoise
*/

body {
    background-color: #E8A87C;
}

.nav-toolbar {
    width: 100%;
    height: 70px;
    background-color: #41B3A3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.nav-toolbar-item {
    background-color: #E27D60;
    margin: 10px;
    text-align: center;
    line-height: 45px;
    vertical-align: middle;
    color: black;
    text-decoration: none;
}

#assignmentsTable {
    width: 70%;
    margin: 0 auto;
}

.font-18 {
    font-size: 18px;
}

#assignmentsTable tr {
    height: 50px;
    text-align: center;
}

#assignmentsTable td {
    border: solid black 1px;
    width: 33%;
}

#collegeMotto {
    padding-top: 20px;
    height: 200px;
    width: 300px;
}

.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#googleImage {
    filter: grayscale(100%);
}

#clickButtonContainer {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
}